@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Universal Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

/* Shared Style  ,,,,ekhane right and left e margin thik kore hy*/
header,
.curricu,
.s-container , .foot {
  margin: 0px auto;
  max-width: 1280px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}
